<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="lcs">
         <property
               name="appName"
               value="lcs">
         </property>
         <property
           name="applicationXMI"
           value="com.codeorchestra.lcs.plugin/Application.e4xmi">
         </property>
         <property
           name="lifeCycleURI"
           value="bundleclass://com.codeorchestra.lcs.plugin/codeOrchestra.lcs.LifeCycleManager">
         </property>
		<property
			name="cssTheme"
			value="com.codeorchestra.lcs.themes.dark">
		</property>         
      </product>
   </extension>
   <extension
 point="org.eclipse.e4.ui.css.swt.theme">
 <theme
    basestylesheeturi="css/dark.css"
    id="com.codeorchestra.lcs.themes.dark"
    label="Dark Theme">
 </theme>
</extension>

</plugin>
