<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="codeOrchestra.lcs.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="LCS Perspective"
            class="codeOrchestra.lcs.Perspective"
            id="LCS.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Live Configuration"
            allowMultiple="true"
            icon="icons/liveResults.png"
            class="codeOrchestra.lcs.View"
            id="LCS.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="LCS.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="LCS.category"
            id="LCS.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="LCS.category"
            id="LCS.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="LCS.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="LCS.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="code-orchestra-lcs.application"
            name="CodeOrchestra Live Coding Server">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="CodeOrchestra Live Coding Server">
         </property>
      </product>
   </extension>

</plugin>
